.toolbar{
    justify-content: space-between;
    align-items: center;
}

.profile_pic {
    margin-top: 20%;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
  }  