.background {
    height: 100%;	
    width: 100%;
    background-color: #212431;
    background-image: url('../../assets/images/Rectangle.png')  
}

.payments {	
    position: relative;
    right:50%;
    left: 30%;
    top: 50.97%;
    bottom: 45.43%;   
    height: 3.6%;	width: 41.87%;	color: #11BA78;	font-family: "Arial Rounded MT Bold";	font-size: 16px;	letter-spacing: 10px;	line-height: 24px;}

.rectangle-3 {	height: 6.6%;	width: 89.33%;	border-radius: 4px;	background-color: #EA4335;	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);}


.rectangle-4 {	height: 6.6%;	width: 89.33%;	border-radius: 4px;	background-color: #4267B2;	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);}