
<mat-tab-group>
	<mat-tab *ngFor='let player of gameDetail.players | genericFilter: player:"playerID":thisPlayer:true' (click)= "switchContextTo(thisPlayer)" label={{player.playerID}}>	
		<h4>Balance: {{player.balance}}</h4>		
	</mat-tab>
	<mat-tab *ngFor='let player of gameDetail.players | genericFilter: player:"playerID":"Bank":true'  (click)= "switchContextTo('Bank')" label={{player.playerID}}>	
		<h4>Balance: {{player.balance}}</h4>		
	</mat-tab>
</mat-tab-group>  

<mat-card>
		<mat-card-header>
				<mat-card-title><b>Transfer</b></mat-card-title>
		</mat-card-header>
		<mat-card-content >
				<mat-tab-group>
						<mat-tab *ngFor='let player of gameDetail.players | genericFilter : "player":context:false' label={{player.playerID}}>	
								<h4 >{{player.balance}}</h4>		
						</mat-tab>
				</mat-tab-group> 
		</mat-card-content>						
</mat-card>	
<mat-card>
<mat-card-header>
		<mat-card-title><b>Transactions</b></mat-card-title>
</mat-card-header>
<mat-card-content>									
	<ul *ngFor='let log of gameDetail.logs' >	
		<p>{{log.timestamp.toLocaleString()}} : {{log.to}} received {{log.amount}} from {{log.from}}</p>
	</ul>				
</mat-card-content>	
</mat-card>			