<div *ngFor='let gameInfo of userBoard'>
	<mat-card routerLink='/game/{{gameInfo.gameID}}/{{thisPlayer}}'>
		<mat-card-header>
			<mat-card-title><h4>{{gameInfo.gameID}}</h4></mat-card-title>
			<mat-card-subtitle><p>{{gameInfo.status}}</p></mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>									
				<p>
					Expires on : {{gameInfo.expiry}}
				</p>	
		<mat-card-actions>
				<button mat-raised-button color="warn">Delete</button>
		</mat-card-actions>					
		</mat-card-content>
	</mat-card>
	<br/>
</div>