/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body { 
    margin: 0; 
    background-color: #212431;
    color: EEEEEE;
}

*{
    font-family: 'Barlow', sans-serif;
}

.mat-tab-labels{
    background-color: #232C3D;
    color: #11BA78; 
}

.mat-menu-content{
    background-color: #212431;
}

.mat-menu-panel{
    position: relative;
    z-index: 3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 4px;   
    background: #232C3D;
}

.mat-tab-label
{
    color: #11BA78;
    width: 50%; 
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;  
}
.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #11BA78;
}

.mat-list-text{
    color:#EEEEEE;
}

.mat-dialog-container{
    background-color: #232C3D;
    color:#EEEEEE;
}

.mat-raised-button.mat-primary{
    background-color: #11BA78;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple{ background: #cccccc; }

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color:#cccccc; 
}
