/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
    background-color: #212431;
    }

.mat-menu-content, .mat-tab-labels{
    background-color: #232C3D;
    color: #11BA78; 
}

.mat-menu-panel{
    position: relative;
    z-index: 3;
    box-shadow: 0 2px 4px 0 #212431;
    border-radius: 4px;   
    background: #232C3D;
}

.mat-tab-label
{
    color: #11BA78;
    width: 50%;   
}
.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #11BA78;
}

.mat-list-text{
    color:#EEEEEE;
}
