<mat-toolbar class='toolbar' color='accent'>
  <mat-icon mat-list-icon>mood</mat-icon>
  <span>MY GAMES</span>
  <mat-icon mat-list-icon>add</mat-icon>
</mat-toolbar>
<mat-tab-group>
	<mat-tab label="Active">
		<div class='nogame' *ngIf='(gameList|genericFilter:"active":true).length == 0'> 
				<span>Start playing by tapping</span>
				<mat-icon mat-list-icon>add</mat-icon>
				<span>icon on top</span>
		</div>
		<mat-list>
				<mat-list-item *ngFor='let gameInfo of gameList|genericFilter:"active":true' routerLink='/game/{{gameInfo.gameID}}/{{thisPlayer}}'>
					<mat-icon mat-list-icon>group</mat-icon>
					<h4 mat-line>{{gameInfo.gameID}}</h4>
					<p mat-line> You and 
							<span id='player_gist' *ngIf="gameInfo.players.length > 3"> {{gameInfo.players.length - 2}} friends </span>
							<span id='player_gist' *ngIf="gameInfo.players.length <= 3">{{getPlayerGist(gameInfo.players)}}</span>
							<span style='float:right;' id='created_on'>{{gameInfo.active_since | date}}</span> </p>
					<mat-divider></mat-divider>
				</mat-list-item>
		</mat-list>
	</mat-tab>
	<mat-tab label="Completed">
			<div class='nogame' *ngIf='(gameList|genericFilter:"active":true).length == 0'> 
					<span>Start playing by tapping</span>
					<mat-icon mat-list-icon>add</mat-icon>
					<span>icon on top</span>
			</div>
			<mat-list>
					<mat-list-item *ngFor='let gameInfo of gameList|genericFilter:"active":false' routerLink='/game/{{gameInfo.gameID}}/{{thisPlayer}}'>
						<mat-icon mat-list-icon>group</mat-icon>
						<h4 mat-line>{{gameInfo.gameID}}</h4>
						<p mat-line> You and 
								<span id='player_gist' *ngIf="gameInfo.players.length > 3"> {{gameInfo.players.length - 2}} friends </span>
								<span id='player_gist' *ngIf="gameInfo.players.length <= 3">{{getPlayerGist(gameInfo.players)}}</span>
								<span style='float:right;' id='created_on'>{{gameInfo.active_since | date}}</span> </p>
						<mat-divider></mat-divider>
					</mat-list-item>
			</mat-list>
	</mat-tab>
</mat-tab-group>
