.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232C3D;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 4px 0 #212431;
}

.context {
    color:#11BA78;
}

.mat-menu-item{
    color:#CCCCCC;
}

.profile_pic {
    width: 30px;
    border-radius: 50%;   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
  }  